<a href="https://colab.research.google.com/github/ManideepKuncharam/Bungeetech/blob/main/question3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
dataframe=pd.read_csv("/content/main.csv")

In [2]:
dataframe=dataframe[["Team","Yellow Cards",	"Red Cards"]]

In [3]:
dataframe=dataframe.sort_values(by=["Red Cards","Yellow Cards"],ascending=False)

In [5]:
dataframe

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [6]:
dataframe.to_csv("main.csv")