<a href="https://colab.research.google.com/github/ManideepKuncharam/Bungeetech/blob/main/question1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataframe=pd.read_csv("/content/main.csv")

In [ ]:
dataframe.columns

Index(['Year', 'Population', 'Total', 'Violent', 'Property', 'Murder',
       'Forcible_Rape', 'Robbery', 'Aggravated_assault', 'Burglary',
       'Larceny_Theft', 'Vehicle_Theft'],
      dtype='object')

In [ ]:
dataframe["Year"]=(dataframe["Year"]//10)*10

In [ ]:
dataframe=dataframe.groupby(["Year"]).agg({"Population":['max'],'Violent':['sum'], 'Property':['sum'], 'Murder':['sum'],
       'Forcible_Rape':['sum'], 'Robbery':['sum'], 'Aggravated_assault':['sum'], 'Burglary':['sum'],
       'Larceny_Theft':['sum'], 'Vehicle_Theft':['sum']})

In [ ]:
dataframe.head()

     Population   Violent   Property  ...  Burglary Larceny_Theft Vehicle_Theft
            max       sum        sum  ...       sum           sum           sum
Year                                  ...
1960  201385000   4134930   45160900  ...  13321100      26547700       5292100
1970  220099000   9607930   91383800  ...  28486000      53157800       9739900
1980  248239000  14074328  117048900  ...  33073494      72040253      11935411
1990  272690813  17527048  119053499  ...  26750015      77679366      14624418
2000  307006550  13968056  100944369  ...  21565176      67970291      11412834

[5 rows x 10 columns]

In [ ]:
dataframe.rename(columns={'max':"",'sum':""},inplace=True)

In [ ]:
dataframe.head()

     Population   Violent   Property  ...  Burglary Larceny_Theft Vehicle_Theft
                                      ...
Year                                  ...
1960  201385000   4134930   45160900  ...  13321100      26547700       5292100
1970  220099000   9607930   91383800  ...  28486000      53157800       9739900
1980  248239000  14074328  117048900  ...  33073494      72040253      11935411
1990  272690813  17527048  119053499  ...  26750015      77679366      14624418
2000  307006550  13968056  100944369  ...  21565176      67970291      11412834

[5 rows x 10 columns]

In [ ]:
dataframe.to_csv("main.csv")